 # DataScience Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**objectives:**

- Create a Jupyter Notebook

- Create Markdown Cells

- Add Comments to Code cells

- Add ordered and unordered lists to Markdown Cells

- Share Notebook Through GitHub

Some of the popular languages that Data Scientist Use are:

1. python   
2. R  
3. Java
4. C++
5. SQL

Some of the commonly used Libraries used by Data scientist include:

1. Pandas
2. NumPy
3. TensorFlow
4. Matplotlib
5. Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|R Studio| 
|Zeppelin Notebooks|

### Below are a few examples of evaluating Arithematic expression in python.

In [5]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
NIHAL HUSSAIN. P.A